.ui-tabs .ui-tabs-nav {
    background: none;
    border-bottom: 1px solid #D4D4D4;
    padding: 0 !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a{
    font-weight: bold;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    border: solid 1px #D3D3D3;
    background: #FEFEFE;
    
}
.ui-tabs .ui-tabs-nav .ui-state-default a{
    font-weight: normal;
}
.ui-tabs .ui-tabs-nav .ui-state-default {
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #F0F0F0;
}

.ui-tabs .ui-tabs-nav li {
    border: solid 1px #D3D3D3;
}