.H2jTopMenuStyle01 {
    position: relative;
    height: 37px;
    /*background: #2b2f3a;*/
    width: auto;
}
.H2jTopMenuStyle01 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1;
}
.H2jTopMenuStyle01 > ul {
    position: relative;
    display: block;
    /*background: #2b2f3a;*/
    height: 32px;
    width: 100%;
    z-index: 500;
}
.H2jTopMenuStyle01 > ul > li {
    display: block;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
.H2jTopMenuStyle01 > ul > #menu-button {
    display: none;
}
.H2jTopMenuStyle01 ul li a {
    display: block;
  
    text-decoration: none;
}
.H2jTopMenuStyle01 > ul > li > a {
    /*font-size: 14px;*/
    font-weight: bold;
    padding: 12px 12px;
    color: #ffffff;
    /*text-transform: uppercase;*/
    -webkit-transition: color 0.25s ease-out;
    -moz-transition: color 0.25s ease-out;
    -ms-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
}
.H2jTopMenuStyle01 > ul > li.has-sub > a {
    padding-right: 25px;
}
.H2jTopMenuStyle01 > ul > li:hover > a {
    color: #ffffff;
}
.H2jTopMenuStyle01 li.has-sub::after {
    display: block;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}
.H2jTopMenuStyle01 > ul > li.has-sub::after {
    right: 10px;
    top: 16px;
    border: 5px solid transparent;
    border-top-color: #ffffff;
}
.H2jTopMenuStyle01 > ul > li:hover::after {
    border-top-color: #ffffff;
}
/*#indicatorContainer {
    position: absolute;
    height: 12px;
    width: 100%;
    bottom: 0px;
    overflow: hidden;
    z-index: -1;
}
#pIndicator {
    position: absolute;
    height: 0;
    width: 100%;
    border: 12px solid transparent;
    border-top-color: #2b2f3a;
    z-index: -2;
    -webkit-transition: left .25s ease;
    -moz-transition: left .25s ease;
    -ms-transition: left .25s ease;
    -o-transition: left .25s ease;
    transition: left .25s ease;
}
#cIndicator {
    position: absolute;
    height: 0;
    width: 100%;
    border: 12px solid transparent;
    border-top-color: #2b2f3a;
    top: -12px;
    right: 100%;
    z-index: -2;
}*/
.H2jTopMenuStyle01 ul ul {
    position: absolute;
    left: -9999px;
    top: 70px;
    opacity: 0;
    -webkit-transition: opacity .3s ease, top .25s ease;
    -moz-transition: opacity .3s ease, top .25s ease;
    -ms-transition: opacity .3s ease, top .25s ease;
    -o-transition: opacity .3s ease, top .25s ease;
    transition: opacity .3s ease, top .25s ease;
    z-index: 1000;
    box-shadow: 1px 1px 5px #CFCECE;
}
.H2jTopMenuStyle01 ul ul ul {
    top: 37px;
    padding-left: 5px;
}
.H2jTopMenuStyle01 ul ul li {
    position: relative;
}
.H2jTopMenuStyle01 > ul > li:hover > ul {
    left: auto;
    top: 36px;
    opacity: 1;
}
.H2jTopMenuStyle01 ul ul li:hover > ul {
    left: 200px;
    top: 0;
    opacity: 1;
}
.H2jTopMenuStyle01 ul ul li a {
    width: 160px;
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
    /*font-size: 12px;*/
    color: #111111;
    background: #fff;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
.H2jTopMenuStyle01 ul ul li:hover > a {
    background: #f6f6f6;
    color: #8c9195;
}
.H2jTopMenuStyle01 ul ul li:last-child > a,
.H2jTopMenuStyle01 ul ul li.last > a {
    border-bottom: 0;
}
.submenuArrow {
    border: 6px solid transparent;
    width: 0;
    height: 0;
    border-bottom-color: #fff;
    position: absolute;
    top: -12px;
}
.H2jTopMenuStyle01 ul ul li.has-sub::after {
    border: 4px solid transparent;
    border-left-color: #9ea2a5;
    right: 10px;
    top: 12px;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
.H2jTopMenuStyle01 ul ul li.has-sub:hover::after {
    border-left-color: #fff;
    right: -5px;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .H2jTopMenuStyle01 {
        width: auto;
    }
    .H2jTopMenuStyle01 ul {
        width: auto;
    }
    .H2jTopMenuStyle01 .submenuArrow,
    .H2jTopMenuStyle01 #indicatorContainer {
        display: none;
    }
    .H2jTopMenuStyle01 > ul {
        height: auto;
        display: block;
    }
    .H2jTopMenuStyle01 > ul > li {
        float: none;
    }
    .H2jTopMenuStyle01 li,
    .H2jTopMenuStyle01 > ul > li {
        display: none;
    }
    .H2jTopMenuStyle01 ul ul,
    .H2jTopMenuStyle01 ul ul ul,
    .H2jTopMenuStyle01 ul > li:hover > ul,
    .H2jTopMenuStyle01 ul ul > li:hover > ul {
        position: relative;
        left: auto;
        top: auto;
        opacity: 1;
        padding-left: 0;
    }
    .H2jTopMenuStyle01 ul .has-sub::after {
        display: none;
    }
    .H2jTopMenuStyle01 ul li a {
        padding: 12px 20px;
    }
    .H2jTopMenuStyle01 ul ul li a {
        border: 0;
        background: none;
        width: auto;
        padding: 8px 35px;
    }
    .H2jTopMenuStyle01 ul ul li:hover > a {
        background: none;
        color: #8c9195;
    }
    .H2jTopMenuStyle01 ul ul ul a {
        padding: 8px 50px;
    }
    .H2jTopMenuStyle01 ul ul ul ul a {
        padding: 8px 65px;
    }
    .H2jTopMenuStyle01 ul ul ul ul ul a {
        padding: 8px 80px;
    }
    .H2jTopMenuStyle01 ul ul ul ul ul ul a {
        padding: 8px 95px;
    }
    .H2jTopMenuStyle01 > ul > #menu-button {
        display: block;
        cursor: pointer;
    }
    .H2jTopMenuStyle01 #menu-button > a {
        padding: 14px 20px;
    }
    .H2jTopMenuStyle01 ul.open li,
    .H2jTopMenuStyle01 > ul.open > li {
        display: block;
    }
    .H2jTopMenuStyle01 > ul.open > li#menu-button > a {
        color: #fff;
        border-bottom: 1px solid rgba(150, 150, 150, 0.1);
    }
    .H2jTopMenuStyle01 #menu-button::after {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 22px;
        border-top: 2px solid #7a8189;
        border-bottom: 2px solid #7a8189;
        right: 20px;
        top: 15px;
    }
    .H2jTopMenuStyle01 #menu-button::before {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 22px;
        border-top: 2px solid #7a8189;
        right: 20px;
        top: 25px;
    }
    .H2jTopMenuStyle01 ul.open #menu-button::after,
    .H2jTopMenuStyle01 ul.open #menu-button::before {
        border-color: #fff;
    }
}
